body{
    background-color: #cecece; 
}

#main{
    padding: auto;
    height: 100%;
    overflow: auto;
}

#chats{
    display: block;
    width:25%;
    height: 100%;
    font-size: 15px;
    float:left;
    overflow: auto;
}
#chat_1{
    background-color: black;
    color: whitesmoke;
    display: block;
    width: 80%;
    height: 350px;
    margin: auto;
    margin-top: 5%;
    margin-bottom:5%;
    border: 2px solid crimson;
    overflow: auto;
}
#chat_1_text{
    height: 300px;
    max-height: 400px;
    overflow: auto;
    font-size: inherit;
    padding: 5px;
}
#chat_1_send{
    width: 90%;
    margin: auto;
    height: auto;
}
#message{
    width : 80%;
    background-color: inherit;
    color:inherit;
    border: 0.5px dotted red;
    font-size: inherit;
}
#submit{
    width: 60px;
    height: 20px;
    color: inherit;
    background-color: inherit;
}

#chat_2{
    display: block;
    background-color: grey;
    color: goldenrod;
    width: 80%;
    height: 30%;
    margin: auto;
    margin-top: 5%;
    margin-bottom:5%;
    border: 5px solid #ececec;
    overflow: auto;
}

#chat_2_text{
    height: 300px;
    max-height: 400px;
    overflow: auto;
    font-size: inherit;
    padding: 5px;
}

#Canvas_Holder{
    float:left;
    width: fit-content;
    height: fit-content;
    margin: auto;
    overflow: auto;
    margin: 20px 30px 0px 30px;
    border: 2px solid powderblue;
}